@media (max-width: 491px) { /*col-xm-*/
  .imagen-xs {
    width: 90%;
  }
  .calendario {
    width: 65%;
  }
  .titEntrenador {
    margin-top: 5px;
    padding: 5px;
  }
  .titEntrenador h3 {
    margin-top: 10px !important;
  }
  .img-login {
    width: 40%;
  }
  #contentInicio {
    margin-top: 30%;
  }
  .navbar-green{
    margin-top: 90px !important;
  }
}

@media (min-width: 500px) and (max-width: 767px) { /*col-xm-*/
  .imagen-xs {
    width: 70%;
  }
  .calendario {
    width: 40%;
  }
  .titEntrenador {
    margin-top: 5px;
    font-size: 18px !important;
    padding: 5px;
  }
  .titEntrenador h3 {
    margin-top: 18px;
  }
  .img-login {
    width: 40%;
  }
  #contentInicio {
    margin-top: 30%;
  }
  .navbar-green{
    margin-top: 90px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {/*col-sm- */
  .img-login {
    width: 35%;
  }

  .calendario {
    width: 65%;
  }
  .imagen-xs {
    width: 70%;
  }
  .titEntrenador {
    margin-top: 0px;
    padding: 0px;
  }
  .titEntrenador h3 {
    font-size: 35px;
  }
    #contentInicio {
    margin-top: 100px;
  }
  .navbar-green{
    margin-top: 112px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {/*col-md-*/
  .titEntrenador h3 {
    font-size: 40px;
  }
  .titEntrenador {
    margin-top: 10px;
    padding: 10px;
  }   

  .calendario {
    width: 40%;
  }

  .imagen-xs {
    width: 50%;
  } 
}
@media (min-width: 1200px) {/*col-lg-*/
  .titEntrenador h3 {
    font-size: 40px;
  }

  .calendario {
    width: 40%;
  }

  .imagen-xs {
    width: 70%;
  }
}
/*
                  .list-group.panel > .list-group-item {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px
                  }
                  .list-group-submenu {
                    margin-left:10px;
                  }*/