div#MainContent{
	min-height: 870px;
}
.titEntrenador{
	margin-top: 75px;
}
.tema_mes{
	min-height: 400px; max-height: 400px; overflow-y:auto; margin-bottom: 50px;
}
.tema_footer{
	min-height: 300px; max-height: 300px; overflow-y:auto;
}


table{
		width:50px;
		height:50px;
}
table td{
		background-color:#0d9b1c;
		padding:10px;
		margin:10px;
		border:1px solid #ccc;
}
.checkbox{
	left: -250px;
	width: 70px;
	height: 30px;
}
/*.radioS{
	left: -160px;
	position:relative;
}

.radio{
	left: -250px;
	position:relative;
}*/
/*[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
  line-height: 36px;
  font-size: 28px;
  color: #e74c3c;
  text-shadow: #2c3e50 2px 2px 1px;
  transition: color .3s;
}*/
/*#tab{
	left:200px;
	width: 50%;
	height: 50%;
}
*/

p{
	text-align: justify;
}

.input-sm2{
	width: 100%;
	
}





