  
@media(max-width: 199px){ /*col-xm-*/
  .imagen-xs {
    width: 400% !important;
  }
  h1{
    font-size: 12px !important;
  }
  h2{
    font-size: 11px !important;
  }
  h3{
    font-size: 10px !important;
  }
  h4{
    font-size: 9px !important;
  }
  h5{
    font-size: 8px !important;
  }
  p{
    font-size: 10px !important;
  }
  div{
    font-size: 10px !important;
  }
  a{
    font-size: 10px !important;
  }
  label{
    font-size: 10px !important;
  }
  input{
    font-size: 10px !important;
  }
  button{
    font-size: 10px !important;
  }
  .panel-heading{
    padding: 0px !important;
  }
  hr{
    padding: 0px !important;
  }
  .calendario {
    width: 65%;
  }
  .titEntrenador {
    margin-left: 20px;
    margin-top: 3px;
  }

  .titEntrenador h3 {
    margin-top: 0px !important;
  }
  .img-login {
    width: 50%;
  }
  #contentInicio {
    margin-top: 30%;
  }

    #log_user{
    display: none;
  }

}  
@media(min-width: 200px) and (max-width: 299px) { /*col-xm-*/
  .imagen-xs {
    width: 140%;
  }
  h3{
    font-size: 15px !important;
  }
  .calendario {
    width: 65%;
  }
  .titEntrenador {
    margin-top: 3px;
    padding: 3px;
  }
  .titEntrenador h3 {
    margin-top: 0px !important;
  }
  .img-login {
    width: 50%;
  }
  #contentInicio {
    margin-top: 20%;
  }

    #log_user{
    display: none;
  }
}  
@media(min-width: 300px) and (max-width: 399px) { /*col-xm-*/
  .imagen-xs {
    width: 140%;
  }
  h3{
    font-size: 20px !important;
  }
  .calendario {
    width: 65%;
  }
  .titEntrenador {
    margin-top: 3px;
    padding: 3px;
  }
  .titEntrenador h3 {
    margin-top: 0px !important;
  }
  .img-login {
    width: 50%;
  }
  #contentInicio {
    margin-top: 20%;
  }

    #log_user{
    display: none;
  }  
}

@media (min-width: 400px) and (max-width: 499px) { 
  .imagen-xs {
    width: 90%;
  }
  .calendario {
    width: 65%;
  }
  .titEntrenador {
    margin-top: 5px;
    padding: 5px;
  }
  .titEntrenador h3 {
    margin-top: 10px !important;
  }
  .img-login {
    width: 40%;
  }
  #contentInicio {
    margin-top: 30%;
  }


  #log_user{
    display: none;
  } 
}

@media (min-width: 500px) and (max-width: 767px) { /*col-xm-*/
  .imagen-xs {
    width: 70%;
  }
  .calendario {
    width: 40%;
  }
  .titEntrenador {
    margin-top: 5px;
    font-size: 18px !important;
    padding: 5px;
  }
  .titEntrenador h3 {
    margin-top: 18px;
  }
  .img-login {
    width: 40%;
  }
  #contentInicio {
    margin-top: 30%;
  }
  .navbar-green{
    margin-top: 90px !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {/*col-sm- */
  .img-login {
    width: 35%;
  }

  .calendario {
    width: 65%;
  }
  .imagen-xs {
    width: 60% !important;
  }
  .titEntrenador {
    margin-top: 0px;
    padding: 0px;
  }
  .titEntrenador h3 {
    font-size: 35px;
  }
    #contentInicio {
    margin-top: 100px;
  }
  .navbar-green{
    margin-top: 112px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {/*col-md-*/
  .titEntrenador h3 {
    font-size: 40px;
  }
  .titEntrenador {
    margin-top: 10px;
    padding: 10px;
  }   

  .calendario {
    width: 40%;
  }

  .imagen-xs {
    width: 50% !important;
  } 
}
@media (min-width: 1200px) {/*col-lg-*/
  .titEntrenador h3 {
    font-size: 40px;
  }

  .calendario {
    width: 40%;
  }

  .imagen-xs {
    width: 70%;
  }
}
/*
                  .list-group.panel > .list-group-item {
                    border-bottom-right-radius: 4px;
                    border-bottom-left-radius: 4px
                  }
                  .list-group-submenu {
                    margin-left:10px;
                  }*/



/*Estilos para contenido de la página de un usuario*/                  
.link:hover{
  background-color: #f1fced;
}

/* Estilos Home */
.titulo_tema_mes{
  background-repeat: no-repeat; background-size: 100% 100%; opacity: 0.8; height: 100%;
}
.titulo_tema{
  background-color: #000000; opacity: 0.7; padding: 12px; color: #FFFFFF; font-weight: bold;
}

.box_shadow { padding-top: 1px; width: 150px; height: 70px;  box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); height: 65px; }