
.colorTd{
		background-color:#0d9b1c;
		padding:10px;
		margin:10px;
		border:1px solid #ccc;
}

.tablaDiv{
	float:left;
	width: 30px;
	height: 30px;
}
#seccion{
	background-color: #DAF7A6;
 	padding: 10px;
  	margin: 10px;
  	display: inline-block;
    margin-top: 20px;
}
#resaltar{
	background: #388e3c;
}

.input-top5{
	margin-top:5px;
}

.div-border0{
	border: 0px solid #ddd;
}


.input-sm-cs{
	width: 40%;
}


.input-sm-cc{
	width: 23%;
}





